[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "*"
moto = {extras = ["dynamodb", "sns", "sqs", "ssm"], version = "*"}
pytest = "*"
pytest-cov = "*"
build = "*"
black = "*"

[packages]
python-jose = "*"
simplejson = "*"
