[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
moto = {extras = ["dynamodb", "sns", "sqs", "ssm"], version = "*"}
pytest = "*"
pytest-cov = "*"

[packages]
boto3 = "*"
