[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "*"
moto = {extras = ["dynamodb", "sns", "sqs", "ssm"], version = "*"}
pytest = "*"
pytest-cov = "*"
pep517 = "*"
black = "==20.8b1"

[packages]
jwcrypto = "*"
